USE [V3_Neurology]
GO
/****** Object:  View [dbo].[VW_Limit_Room_Only_CacheDB_Updation]    Script Date: 7/21/2023 4:01:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE view [dbo].[VW_Limit_Room_Only_CacheDB_Updation]
AS
select * from .[dbo].[2_64_Limit Room Only Schedule]


GO
